*{
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.3rem;
}
h6 {
    font-size: 1rem;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    border:1px solid;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}
.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}
.p-top-110 {
    padding-top: 110px;
}

.navbar-nav{
    text-align: right;
}


/* A PROPOS */
.apropos{
    margin-top: 30px;
    margin-bottom: 30px;
}

.apropos-text{
    padding-left: 120px;
}
/* END A PROPOS */

/* SERVICES */
.service{
    margin-top: 30px;
    margin-bottom: 30px;
}

.service1-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

.service2-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

.service3-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

/* END SERVICES */

/* MENU */
.menu{
    margin-top: 30px;
    margin-bottom: 30px;
}

*{
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.3rem;
}
h6 {
    font-size: 1rem;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    border:1px solid;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}
.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}
.p-top-110 {
    padding-top: 110px;
}

.separator_auto{
    width:85px;
    height:2px;
    margin:20px auto;
    background: red;
}

.collapse ul{
    color: red;
}

/* A PROPOS */
.apropos{
    margin-top: 30px;
    margin-bottom: 30px;
}

.apropos-img img{
    border-radius: 75px;
}


/* END A PROPOS */

/* SERVICES */
.service-item{
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    padding: 20px;
}

.service{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #dbdbdb;
    padding: 30px;
}

.service1-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

.service2-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

.service3-icone img{
    width: 30%;
    height: 30%;
    padding-bottom: 30px;
}

/* END SERVICES */

/* MENU */
.menu{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    padding: 30px;
}

.card:hover {
    opacity: 0.8;
    background: #dbdbdb;
    color: #fff;
    transform:scale(1.05);
    transition: all 0.4s;
}

/* END MENU */

/* CONTACT */
.contact{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #dbdbdb;
    padding: 30px;
}

/* END CONTACT */

/* FOOTER */

footer li {
    display : inline;
    padding : 5px;
}

footer .social {
    display: inline-block;
}

/* END FOOTER */
